.json-pane {
  height: calc(100vh - 240px);
  overflow: auto;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

@media screen and (max-device-width: 800px) {
  .json-pane {  
    height: calc(100vh - 270px);
  }
}